* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  --primary-color: black;
}
button,
h2,
li {
  all: unset;
}

#background {
  height: 100vh;
  background-image: url(../dist/assets/stars.jpg);
  background-size: cover;
}
