* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;

  letter-spacing: 2px;
  color: white;
  --primary-color: black;
  font-size: 1rem;
}

button,
h2,
li {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

p {
  margin: 0.25rem;
}

/* Background */

html {
  position: relative;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url(../dist/assets/stars.jpg);
  background-size: cover;
}

/* Header */

.header {
  display: flex;
  min-width: 100vw;
}

.datetime-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/* Main Container */

.main-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* Forecast */

.forecast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3rem;
  top: 15%;
  left: 10%;
}

.forecast-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 2rem;
}

.degrees {
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  margin-right: 2.5rem;
}

.degrees::after {
  content: '\00B0 F';
  font-size: 2rem;
}

.forecast-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
